.our-services-wrapper {
    width: 100%;
    height: auto;
    background: url(../../../public/image/bg.png), var(--white-grey);
    margin-top: 70px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    user-select: none;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-weight: 400;
    font-size: 25px;
}

.section-title>p {
    max-width: 570px;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    color: var(--light-grey);
    padding-left: 10px;
    padding-right: 10px;
}

.service-card-wrapper {
    width: 85%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
}