.contact-box-wrapper {
    width: 356px;
    height: 134px;
    background-color: var(--white);
    box-shadow: 7px 5px 30px 0 rgb(72 73 121 / 15%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.icon-Wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 8px;
    color: var(--theme-color);
    border: solid 2px var(--theme-color);
}

.dtas-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 200px;
}

.dtas-wrapper h4 {
    margin-bottom: 5px;
}

.dtas-wrapper a {
    color: var(--grey);
    text-decoration: none;
    margin-right: 5px;
}

.contact-box-wrapper:hover .icon-Wrapper {
    background-color: var(--theme-color);
    color: var(--white);
}